header {
  text-align: center;
  background-color: #444;
  padding: 20px;
}

h2 {
  color: white;
}

.container {
  height: 600px;
  background-size: cover;
  background-image: url("https://t3.ftcdn.net/jpg/05/96/62/32/360_F_596623252_MrSptpFnvBHZbeCSCegHFASPBBXoNi9W.jpg");
}

.container img,
.container p {
  height: 150px;
  padding: 10px;
  width: 300px;
  background-color: antiquewhite;
}

.row1 p {
  margin-bottom: 50px;
}

.row1, .row2 {
  display: flex;
  justify-content: center;
}

.row1 {
  padding-top: 100px;
}

.row1 .i2, .row2 .i2 {
  margin-left: 80px;
}

.row1 .i1 {
  background-image: url("https://as1.ftcdn.net/v2/jpg/04/77/07/50/1000_F_477075040_6HkFjq6K567nZxDhIFxegbO6YAl5MXyk.jpg");
  background-position: center;
  background-size: cover;
}

.row1 .i2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0565/8050/5775/files/Mens_joggers_1024x1024.png?v=1694584795");
  background-position: center;
  background-size: cover;
}

.row2 .i1 {
  background-image: url("https://image.made-in-china.com/202f0j00GWDiaKUPHJCc/Men-and-Women-Polo-Shirt-Short-Sleeve-Shirts-Lightweight-Casual-Tops.webp");
  background-position: center;
  background-size: cover;
}

.row2 .i2 {
  background-image: url("https://classymencollection.com/cdn/shop/files/LRM_EXPORT_20180214_144143_600x600.jpg?v=1613172213");
  background-position: center;
  background-size: cover;
}

footer {
  text-align: center;
  background-color: #444;
  padding: 20px;
  height: 50px;
}

footer p {
  color: white;
}

@media (max-width: 500px) {
  .row1, .row2 {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .row1 .i2, .row2 .i2 {
    margin-left: 0;
    margin-top: 20px;
  }

  .container img, .container p {
    width: 90%;
    max-width: 300px;
  }

  .container {
    height: auto;
  }

  .row1 {
    padding-top: 50px;
  }
}
